<h2 mat-dialog-title>Cambiar contraseña</h2>
<mat-dialog-content class="mat-typography">
    <div class="card-header bg-white border-0">
        <form [formGroup]="formUserPassword">
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">Contraseña actual</label>
                            <input type="password" class="form-control " formControlName="old_password" [class.is-invalid]="getOldPasswordValid()">
                            <small *ngIf="getOldPasswordValid()" class="text-danger">Campo requerido</small>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">Contraseña Nueva</label>
                            <input type="password" class="form-control" formControlName="new_password" [class.is-invalid]="getNewPasswordValid()">
                            <small *ngIf="getNewPasswordValid()" class="text-danger">8-15 caracteres, mayuscula, minuscula, digito y caracter especial</small>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label">Confirmar contraseña nueva</label>
                            <input type="password" class="form-control " formControlName="repit_password" [class.is-invalid]="getRepitPasswordNoValid()">
                            <small *ngIf="getRepitPasswordNoValid()" class="text-danger">Contraseña no coincide</small>
                        </div>
                    </div>

                </div>

            </div>

        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="button" class="btn btn-success mt-4" [disabled]="!formUserPassword.valid" (click)="save()">Actualizar</button>
    <button mat-button type="button" class="btn btn-warning mt-4" mat-dialog-close [mat-dialog-close]="true">Cancelar</button>
</mat-dialog-actions>