<div class="header bg-gradient-danger pb-8 pt-5 ">

</div>


<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ titleEdit }}</h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="formQuestion">

                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-sector_id">Id</label>
                                        <input type="text" id="input-id" class="form-control form-control-alternative" formControlName="question_id">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-subject">Asunto</label>
                                        <input type="text" id="input-subject" class="form-control form-control-alternative" formControlName="subject">
                                        <small *ngIf="this.formQuestion.get('subject').invalid && this.formQuestion.get('subject').touched" class="text-danger">Campo requerido</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email</label>
                                        <input type="text" id="input-email" class="form-control form-control-alternative" formControlName="email">
                                        <small *ngIf="this.formQuestion.get('email').invalid && this.formQuestion.get('email').touched" class="text-danger">Campo requerido y de tipo email</small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-telephone">Telefono</label>
                                        <input type="text" id="input-telephone" class="form-control form-control-alternative" formControlName="telephone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-message">Mensaje</label>
                                        <textarea rows="4" class="form-control form-control-alternative" formControlName="message"></textarea>
                                        <small *ngIf="this.formQuestion.get('message').invalid && this.formQuestion.get('message').touched" class="text-danger">Campo requerido y de más de 10 caracteres</small>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-status">Estado</label>
                                        <select class="custom-select" id="inputGroupSelect01" formControlName="status">
                                            <option value="0">Inactivo</option>
                                            <option value="1">Activo</option>
                                        </select>
                                        <small *ngIf="this.formQuestion.get('status').invalid && this.formQuestion.get('status').touched" class="text-danger">Elija una opción</small>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mt-4" [disabled]="!formQuestion.valid" (click)="save()">Guardar</button>
                                <button type="button" class="btn btn-warning mt-4" (click)="return()">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>